### Import relevant libraries

In [1]:
import pandas as pd

### Read data using relative paths

In [2]:
from read_path_module import read_data_relative_path

zillow = read_data_relative_path(relative_dataset_path = './data/zillow/Neighborhood_Zhvi_AllHomes.csv',
                        data_type='csv'
                       )

train = read_data_relative_path(relative_dataset_path = './data/kaggle/train.csv',
                        data_type='csv'
                       )

lookup = read_data_relative_path(relative_dataset_path = './data/zillow/created/Neighborhoods_Zip_Code_Lookup.xlsx',
                        data_type='excel',
                        supress='y',
                        sheet=0)

### Filter down to Ames neighborhoods and only look at most recent price estimate

In [3]:
Ames = zillow[zillow['State'] == 'IA']
Ames = Ames[Ames['City'] == 'Ames']
Ames = Ames[['RegionName', '2020-04-30']]

Ames.head(3)

              RegionName  2020-04-30
3272   South Campus Area    251160.0
9832    Somerset Village    287790.0
11036         Northridge    375377.0

### Merge the neighborhood name lookup table and zillow price estimates

In [4]:
Ames_Zillow_Prices = lookup.merge(Ames, how='left', left_on='Zillow_Name_Hood', right_on='RegionName')
Ames_Zillow_Prices = Ames_Zillow_Prices.rename({'2020-04-30': 'Most_Recent_Price'}, axis=1)
Ames_Zillow_Prices = Ames_Zillow_Prices.drop(['Source', 'RegionName'], axis=1)
Ames_Zillow_Prices.head(3)

,Neighborhood,Full_Name_Hood,Zillow_Name_Hood,County,Zip_Code,Most_Recent_Price
0,CollgCr,College Creek,College Creek-Old Ames,Story,50014,163880.0
1,Veenker,Veenker,NaN,Story,50010,NaN
2,Crawfor,Crawford,NaN,Story,50014,NaN

### Clean up dataframe in preparation of writing to a csv

In [5]:
Ames_Zillow_Prices = Ames_Zillow_Prices.drop(['Full_Name_Hood', 'Zillow_Name_Hood', 'County', 'Zip_Code'], axis=1)
Ames_Zillow_Prices.head(5)

  Neighborhood  Most_Recent_Price
0      CollgCr           163880.0
1      Veenker                NaN
2      Crawfor                NaN
3      NoRidge           375377.0
4      Mitchel           199737.0

### Write to csv using relative paths

In [6]:
from write_path_module import write_data_relative_path

write_data_relative_path(df = Ames_Zillow_Prices,
                         relative_dataset_path = './data/zillow/created/zillow_prices_by_neighborhood.csv',
                         data_type='csv'
                        )